<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Webshop</title>
    <link th:href="@{/styles.css}" rel = "stylesheet" />
</head>
<body>
<div>
    <header><a th:href=" @{/index}">My shop</a></header>
</div>
<div class="ui-button">
    <form th:action="@{/onlyavailable}" method="get">
        <button  type="submit" name="onlyavailable" >ONLY AVAILABLE</button>
    </form>
    <form th:action="@{/cheapestfirst}" method="get">
        <button type="submit" name="cheapestfirst" >CHEAPEST FIRST</button>
    </form>
    <form th:action="@{/containsnike}" method="">
        <button type="submit" name="containsnike" value="">CONTAINS NIKE</button>
    </form>
    <form th:action="@{/average}" method="get">
        <button type="submit" name="average" value="">AVERAGE STOCK</button>
    </form>
    <form th:action="@{/mostexpensive}" method="get">
        <button type="submit" name="mostexpensive" value="">MOST EXPENSIVE AVAILABLE</button>
    </form>
</div>
<div>
    <form action="">
        <label for="search">Search for:</label>
        <input type="text" id="search" name="search" placeholder="...something like nike">
        <button type="submit">Search</button>
    </form>
</div>
<div class="searchbar">
    <form action="">
        <label for="search">Search for:</label><br>
        <input type="text" id="search" name="search">
        <button type="submit">search</button>
    </form>
</div>
<h1 th:text="${average}?: ${mostexpensive.name}"></h1>
</body>
</html>