
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Webshop</title>
    <link th:href="@{/styles.css}" rel = "stylesheet" />
</head>
<body>
<div>
    <header><a th:href=" @{/index}">My shop</a></header>
</div>
<div class="ui-button">
    <form th:action="@{/onlyavailable}" method="get">
        <button  type="submit" name="onlyavailable" >ONLY AVAILABLE</button>
    </form>
    <form th:action="@{/cheapestfirst}" method="get">
        <button type="submit" name="cheapestfirst" >CHEAPEST FIRST</button>
    </form>
    <form th:action="@{/containsnike}" method="get">
        <button type="submit" name="containsnike" value="">CONTAINS NIKE</button>
    </form>
    <form th:action="@{/average}" method="get">
        <button type="submit" name="averagestock" value="">AVERAGE STOCK</button>
    </form>
    <form th:action="@{/mostexpensive}" method="get">
        <button type="submit" name="mostexpensive" value="">MOST EXPENSIVE AVAILABLE</button>
    </form>
</div>
<div>
    <form id="searchform" action="/search"  method="post">
        <label for="searchterm">Search for:</label><br>
        <input type="text" id="searchterm" name="searchterm" placeholder="...something like nike">
        <button class="searchbutton" type="submit" >Search</button>
    </form>
</div>
<table>
    <thead>
        <tr>
            <td class="name">Name</td>
            <td class="desc">Description</td>
            <td class="price">Price</td>
            <td>Quantity of stock</td>
        </tr>
    </thead>
    <tbody >
        <tr th:each="stockItem : ${shopStock}">
            <td th:text="${stockItem.name}"></td>
            <td th:text="${stockItem.description}"></td>
            <td class="tablecontent" th:text="${#numbers.formatDecimal(stockItem.price, 0, 'COMMA', 2, 'POINT')}"></td>
            <td class="tablecontent" th:text="${stockItem.quantity}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>