body{
    font-family: Arial;
    width: 80%;
    margin: auto;
}

header {
    font-size: 60px;
    margin-bottom: 30px;
    border-bottom: 2px solid skyblue;
}

a{
    color: skyblue;
    text-decoration: none;
}

input{
    width: 600px;
    border: 3px solid orange;
    height: 30px;
    border-radius: 0.5em;
}

button{
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    margin: 0px 5px 15px 5px;
    color: white;
    background-color: orange;
    border-radius: 5mm;
    outline: none;
}

.searchbutton{
    position: relative;
}

table{
    width:100%;
    margin: auto;
}

thead td{
    color: orange;
    font-size: 20px;
    background-color: skyblue;
}

.npq{
    padding: 20px 40px 20px 40px;
}

.desc{
    padding: 20px 100px 20px 100px;
}

tbody tr{
    font-size: 18px;
    text-align: center;
}

form{
    display: inline-block;
    margin: auto;
    font-family: Arial;
    color: orange;
}


