<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Useful</title>
    <meta charset="utf-8" />
</head>
<body>
<li><a th:href="@{/useful/colored}">colored</a></li><br>
<li><a th:href="@{/useful/email}">email</a></li><br>


<form th:action="@{/useful/encode}" method="get" th:required="false">
    <label for="toencode"></label>
    <input type="text" name="toenCode" id="toencode" placeholder="text to decode/encode"/>
    <input type="number" name="key" id="key" placeholder="key to use" th:required="false"/>
    <button type="submit" name="action" value="encode">Encode/Decode</button>
</form>
<br>
<span th:text="${codedtext}"></span>


</body>
</html>