<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
</head>
<body>
<div>
    <h1>Edit todo:</h1>
    <form action="/{id}/edit" method="post" th:object="${todo}">
        <label for="todo">Edit this row:</label>
        <input type="text" id="todo" name="title" th:field="*{title}" th:value="*{title}">
        <label for="urgent">Urgent:</label>
        <input type="checkbox" id="urgent" name="urgent" th:field="*{urgent}" th:value="*{urgent}">
        <label for="done">Done:</label>
        <input type="checkbox" id="done" name="done" th:field="*{done}" th:value="*{urgent}">
        <input type="submit" value="Submit"/>
    </form>
</div>

</body>
</html>