<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
</head>
<body>
<div>
    <form th:action="'/edit/' + ${id}" method="post">
        <label for="title">Title:</label>
        <input id="title" name="title" th:value="${title}">
        <label for="urgent">Urgent:</label>
        <input type="checkbox" id="urgent" name="urgent" th:checked="${urgent}">
        <label for="done">Done:</label>
        <input type="checkbox" id="done" name="done" th:checked="${done}">
        <input type="submit">

    </form>
</div>

</body>
</html>